# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# Windows ### NUEVO
Thumbs.db
Desktop.ini

# local env files (Seguridad mejorada) ### EDITADO
.env
.env*

# typescript
*.tsbuildinfo

# generated native folders
# (Manten esto así si usas Expo Go o Prebuild sin modificar nativo)
/ios
/android

# Database (SQLite) ### NUEVO CRITICO
*.db
*.db-journal
*.db-wal
